$colors: (
    common: (
        white: #ffffff,
        black: #1b262c,
        blue:#d6e6f2,
        pink:#FFADAD,
        dpink:#FD346E,
        paste:#1EE2CF,
    ),
    heading: (
        primary: #1b262c,
    ),
    grey: (
        1:#F7F8FD,
        2:#f8f8f8,

    ),
    text: (
        body:#8A90A2,
        p:#8A90A2,
    ),
    theme: (
        1: #0F4C75,
        2: #3282B8,
        primary: #769fcd,
        secondary: #B9D7EA,

    ),
    border: (
        1: #E8ECF2,
    )
);

